@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

.rubrik {
    font-family: Mountains of Christmas, monospace;
    font-size: 50px;
    margin-top: 70px;
}

.bakgrund {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/snow_winter_trees.jpg);
    background-size: cover;
    min-height: 350px;
}

.länkar {
    margin: 20px;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.bilder {
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    max-height: 40px;
    max-width: fit-content;
    padding: 5px;
    width: 100%;
}


.mellan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.vänster{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webb_utveckling{
    font-size: 20px;
    margin: 5px;
}

.mitten{
    display: flex;
    flex-direction: column;
    max-width: 55%;

}
.höger{
    display: flex;
    max-width: 20%;
}

.julgran{
    width: 100%;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

div {
    border: 3px solid #D6001C;
    border-radius: 10px;
    margin: 10px;
}
